<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.pack.mapper.ShipmentBatchInfoMapper">
    <select id="getShipmentBatchInfoPage" resultType="com.aacoptics.pack.entity.po.ShipmentBatchInfo">
        select
            a.customer,
            isnull(c.customer_material_no, d.customer_material_no) as customer_material_no,
            b.batch_name,
            isnull(c.supplier, d.supplier) as supplier,
            case when isnull(a.large_ticket,'') = '' then
                     middle_ticket
                 else large_ticket end as outer_box,
            case when isnull(d.qty,'') = '' then
                     c.qty
                 else d.qty end as outer_box_qty,
            isnull(c.print_time, d.print_time) as outer_box_time,
            a.spot_ticket,
            b.qty as spot_qty,
            b.print_datetime as spot_time
        FROM [LabelPrint_NE].[dbo].[t_package_bound_info] a
                 join t_spot_ticket_print_information b
                      on (a.customer = b.customer or b.customer='CR')
                          and a.spot_ticket = b.product_batch
                 left join t_middle_large_ticket_print_information c
                           on a.customer = c.customer
                               and a.middle_ticket = c.shipment_batch
                               and c.label_type = 2
                 left  join t_middle_large_ticket_print_information d
                            on a.customer = d.customer
                                and a.large_ticket = d.shipment_batch
                                and d.label_type = 3
        where a.status > 0
          and c.order_no = #{orderNo}
          AND a.customer= #{customer}
    </select>

    <select id="getShipmentBatchInfo" resultType="com.aacoptics.pack.entity.po.ShipmentBatchInfo">
        select
            a.customer,
            isnull(c.customer_material_no, d.customer_material_no) as customer_material_no,
            b.batch_name,
            isnull(c.supplier, d.supplier) as supplier,
            case when isnull(a.large_ticket,'') = '' then
                     middle_ticket
                 else large_ticket end as outer_box,
            case when isnull(d.qty,'') = '' then
                     c.qty
                 else d.qty end as outer_box_qty,
            isnull(c.print_time, d.print_time) as outer_box_time,
            a.spot_ticket,
            b.qty as spot_qty,
            b.print_datetime as spot_time
        FROM [LabelPrint_NE].[dbo].[t_package_bound_info] a
                 join t_spot_ticket_print_information b
                      on (a.customer = b.customer or b.customer='CR')
                          and a.spot_ticket = b.product_batch
                 left join t_middle_large_ticket_print_information c
                           on a.customer = c.customer
                               and a.middle_ticket = c.shipment_batch
                               and c.label_type = 2
                 left  join t_middle_large_ticket_print_information d
                            on a.customer = d.customer
                                and a.large_ticket = d.shipment_batch
                                and d.label_type = 3
        where a.status > 0
          and c.order_no = #{orderNo}
          AND a.customer= #{customer}
        order by outer_box
    </select>
</mapper>