<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.mold.toollife.dao.MatInfoMapper">

    <select id="getMatInfo" resultType="com.aacoptics.mold.toollife.entity.MatInfo">
        SELECT ITSD.CODE_NO  AS handle_code,
               ITSD2.CODE_NO AS tool_code,
               BM.MAT_CODE   AS mat_code,
               BM.MAT_NAME   AS mat_name,
               BM.LIFE_SALVAGE AS life_salvage
        FROM INV_TOOL_SPLIT_DETAIL ITSD
                 JOIN TOOL_COMBINED TC ON TC.MAIN_TOOL_ID = ITSD.ID AND TC.IS_SPLIT = 0
                 JOIN TOOL_COMBINED_DETAILED TCD ON TCD.PID = TC.ID AND TCD.IS_SPLIT = 0
                 JOIN INV_TOOL_SPLIT_DETAIL ITSD2 ON ITSD2.ID = TCD.AUX_TOOL_ID
                 JOIN BASE_MATERIAL BM ON BM.ID = ITSD2.MAT_ID
        order by ITSD.CODE_NO
    </select>

    <select id="getScrapCount" resultType="java.lang.Integer">
        SELECT COUNT(1) as count
        FROM INV_TOOL_SCRAP_DETAIL ITSD1,
             CJMADMIN.INV_TOOL_SPLIT_DETAIL ITSD12,
             CJMADMIN.BASE_MATERIAL BM
        WHERE ITSD12.id = ITSD1.SPLIT_ID
          AND ITSD1.CREATE_DATE BETWEEN to_date(#{startTime}, 'yyyy-mm-dd hh24:mi:ss') and to_date(#{startTime}, 'yyyy-mm-dd hh24:mi:ss') + 1
          AND BM.MAT_TYPE = '1f9107c5e4ba44948159211a49cc1da0'
          AND ITSD12.MAT_ID = BM.ID
    </select>

    <select id="getOutCount" resultType="java.lang.Integer">
        SELECT count(1) as count
        FROM INV_TOOL_IN_DETAIL
        WHERE COMBINED_TYPE = '2'
          AND CREATE_DATE BETWEEN to_date(#{startTime}, 'yyyy-mm-dd hh24:mi:ss') and to_date(#{startTime}, 'yyyy-mm-dd hh24:mi:ss') + 1
    </select>
</mapper>
