<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.notification.mapper.NotificationJobInfoMapper">
    <select id="getMaxNo" resultType="java.lang.String">
        SELECT max(notification_no) as notification_no
        FROM notification_job_info
        where in_list = #{inList}
    </select>
</mapper>