<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.notification.mapper.XxlJobInfoMapper">

    <select id="maxId" resultType="java.lang.Integer">
        SELECT MAX(id) AS MAX_ID
        FROM xxl_job_info
    </select>


    <select id="listNotificationTask" resultType="com.aacoptics.notification.entity.po.XxlJobInfo">
        SELECT *,
               JSON_VALUE(executor_param, '$.planKey') as 'plan_key'
        from (
                 SELECT a.id
                      , job_group
                      , job_desc
                      , add_time
                      , a.update_time
                      , author
                      , alarm_email
                      , schedule_type
                      , schedule_conf
                      , misfire_strategy
                      , executor_route_strategy
                      , executor_handler
                      , executor_param
                      , executor_block_strategy
                      , executor_timeout
                      , executor_fail_retry_count
                      , glue_type
                      , glue_source
                      , glue_remark
                      , glue_updatetime
                      , child_jobid
                      , trigger_status
                      , trigger_last_time
                      , trigger_next_time
                 FROM xxl_job_info a
                          join xxl_job_group b
                               on a.job_group = b.id
                 where b.app_name = 'notification-center') t
        where JSON_VALUE(executor_param, '$.planKey') = #{planKey}
            or #{planKey} is null
            or #{planKey} = ''
    </select>


</mapper>