<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.okr.core.mapper.ObjectiveDetailMapper">
    <resultMap id="BaseResultMap" type="com.aacoptics.okr.core.entity.po.ObjectiveDetail">
        <result column="o_id" property="id"/>
        <result column="o_period_id" property="periodId"/>
        <result column="o_objective_name" property="objectiveName"/>
        <result column="o_remark" property="remark"/>
        <result column="o_status_info" property="statusInfo"/>
        <result column="o_score" property="score"/>
        <result column="o_deleted" property="deleted"/>
        <result column="o_created_by" property="createdBy"/>
        <result column="o_created_time" property="createdTime"/>
        <result column="o_updated_time" property="updatedTime"/>
        <result column="o_at_users" property="atUsers"/>
        <collection property="keyResultDetails" javaType="java.util.List" resultMap="KResultMap"/>
        <collection property="AlignRelations" javaType="java.util.List" resultMap="alignRResultMap"/>
        <collection property="AlignedRelations" javaType="java.util.List" resultMap="alignedRResultMap"/>
    </resultMap>
    <resultMap id="KResultMap" type="com.aacoptics.okr.core.entity.po.KeyResultDetail">
        <result column="k_id" property="id"/>
        <result column="k_objective_id" property="objectiveId"/>
        <result column="k_key_result_name" property="keyResultName"/>
        <result column="k_remark" property="remark"/>
        <result column="k_status_info" property="statusInfo"/>
        <result column="k_score" property="score"/>
        <result column="k_deleted" property="deleted"/>
        <result column="k_created_time" property="createdTime"/>
        <result column="k_updated_time" property="updatedTime"/>
        <result column="k_at_users" property="atUsers"/>
    </resultMap>
    <resultMap id="alignRResultMap" type="com.aacoptics.okr.core.entity.po.AlignRelation">
        <result column="align_id" property="id"/>
        <result column="align_align_type" property="alignType"/>
        <result column="align_align_id" property="alignId"/>
        <result column="align_objective_id" property="objectiveId"/>
        <result column="align_owner_real_name" property="ownerRealName"/>
        <result column="align_owner_username" property="ownerUsername"/>
        <result column="align_objective_real_name" property="objectiveRealName"/>
        <result column="align_objective_username" property="objectiveUsername"/>
        <result column="align_created_time" property="createdTime"/>
    </resultMap>
    <resultMap id="alignedRResultMap" type="com.aacoptics.okr.core.entity.po.AlignRelation">
        <result column="aligned_id" property="id"/>
        <result column="aligned_align_type" property="alignType"/>
        <result column="aligned_align_id" property="alignId"/>
        <result column="aligned_objective_id" property="objectiveId"/>
        <result column="aligned_owner_real_name" property="ownerRealName"/>
        <result column="aligned_owner_username" property="ownerUsername"/>
        <result column="aligned_objective_real_name" property="objectiveRealName"/>
        <result column="aligned_objective_username" property="objectiveUsername"/>
        <result column="aligned_created_time" property="createdTime"/>
    </resultMap>
    <select id="selectByEmployNoAndPeriod" resultMap="BaseResultMap">
        select o.id                        as o_id,
               o.period_id                 as o_period_id,
               o.objective_name            as o_objective_name,
               o.remark                    as o_remark,
               o.status_info               as o_status_info,
               o.score                     as o_score,
               o.deleted                   as o_deleted,
               o.created_by                as o_created_by,
               o.created_time              as o_created_time,
               o.updated_time              as o_updated_time,
               o.at_users                  as o_at_users,
               k.id                        as k_id,
               k.objective_id              as k_objective_id,
               k.key_result_name           as k_key_result_name,
               k.remark                    as k_remark,
               k.status_info               as k_status_info,
               k.score                     as k_score,
               k.deleted                   as k_deleted,
               k.created_time              as k_created_time,
               k.updated_time              as k_updated_time,
               k.at_users                  as k_at_users,
               align.id                    as align_id,
               align.align_type            as align_align_type,
               align.align_id              as align_align_id,
               align.objective_id          as align_objective_id,
               align.owner_username        as align_owner_username,
               align.owner_real_name       as align_owner_real_name,
               align.objective_username    as align_objective_username,
               align.objective_real_name   as align_objective_real_name,
               align.created_time          as align_created_time,
               aligned.id                  as aligned_id,
               aligned.align_type          as aligned_align_type,
               aligned.align_id            as aligned_align_id,
               aligned.objective_id        as aligned_objective_id,
               aligned.owner_username      as aligned_owner_username,
               aligned.owner_real_name     as aligned_owner_real_name,
               aligned.objective_username  as aligned_objective_username,
               aligned.objective_real_name as aligned_objective_real_name,
               aligned.created_time        as aligned_created_time
        from dbo.t_okr_objective_detail o
                 left join t_okr_key_result_detail k on k.objective_id = o.id
                 left join t_okr_align_relation align on align.objective_id = o.id
                 left join t_okr_align_relation aligned on aligned.align_id = o.id
        where o.created_by = #{employNo,jdbcType=VARCHAR}
          and o.period_id = #{period,jdbcType=BIGINT}
          and o.deleted = 'N'
          and k.deleted = 'N'
        union all
        select o.id                        as o_id,
               o.period_id                 as o_period_id,
               o.objective_name            as o_objective_name,
               o.remark                    as o_remark,
               o.status_info               as o_status_info,
               o.score                     as o_score,
               o.deleted                   as o_deleted,
               o.created_by                as o_created_by,
               o.created_time              as o_created_time,
               o.updated_time              as o_updated_time,
               o.at_users                  as o_at_users,
               k.id                        as k_id,
               k.objective_id              as k_objective_id,
               k.key_result_name           as k_key_result_name,
               k.remark                    as k_remark,
               k.status_info               as k_status_info,
               k.score                     as k_score,
               k.deleted                   as k_deleted,
               k.created_time              as k_created_time,
               k.updated_time              as k_updated_time,
               k.at_users                  as k_at_users,
               align.id                    as align_id,
               align.align_type            as align_align_type,
               align.align_id              as align_align_id,
               align.objective_id          as align_objective_id,
               align.owner_username        as align_owner_username,
               align.owner_real_name       as align_owner_real_name,
               align.objective_username    as align_objective_username,
               align.objective_real_name   as align_objective_real_name,
               align.created_time          as align_created_time,
               aligned.id                  as aligned_id,
               aligned.align_type          as aligned_align_type,
               aligned.align_id            as aligned_align_id,
               aligned.objective_id        as aligned_objective_id,
               aligned.owner_username      as aligned_owner_username,
               aligned.owner_real_name     as aligned_owner_real_name,
               aligned.objective_username  as aligned_objective_username,
               aligned.objective_real_name as aligned_objective_real_name,
               aligned.created_time        as aligned_created_time
        from dbo.t_okr_objective_detail o
                 left join t_okr_key_result_detail k on k.objective_id = o.id
                 left join t_okr_align_relation align on align.objective_id = k.id
                 left join t_okr_align_relation aligned on aligned.align_id = k.id
        where o.created_by = #{employNo,jdbcType=VARCHAR}
          and o.period_id = #{period,jdbcType=BIGINT}
          and o.deleted = 'N'
          and k.deleted = 'N'
        order by o_objective_name
    </select>

    <select id="listAlignByOId" resultMap="BaseResultMap">
        select o.id                      as o_id,
               o.period_id               as o_period_id,
               o.objective_name          as o_objective_name,
               o.remark                  as o_remark,
               o.status_info             as o_status_info,
               o.score                   as o_score,
               o.deleted                 as o_deleted,
               o.created_by              as o_created_by,
               o.created_time            as o_created_time,
               o.updated_time            as o_updated_time,
               o.at_users                as o_at_users,
               align.id                  as align_id,
               align.align_type          as align_align_type,
               align.align_id            as align_align_id,
               align.objective_id        as align_objective_id,
               align.owner_username      as align_owner_username,
               align.owner_real_name     as align_owner_real_name,
               align.objective_username  as align_objective_username,
               align.objective_real_name as align_objective_real_name,
               align.created_time        as align_created_time
        from dbo.t_okr_objective_detail o
                 left join t_okr_align_relation align on align.objective_id = o.id
        where o.id = #{id,jdbcType=BIGINT}
          and o.deleted = 'N'
        order by o.objective_name
    </select>

    <select id="listAlignByKId" resultMap="BaseResultMap">
        select o.id                      as o_id,
               o.period_id               as o_period_id,
               o.objective_name          as o_objective_name,
               o.remark                  as o_remark,
               o.status_info             as o_status_info,
               o.score                   as o_score,
               o.deleted                 as o_deleted,
               o.created_by              as o_created_by,
               o.created_time            as o_created_time,
               o.updated_time            as o_updated_time,
               o.at_users                as o_at_users,
               k.id                      as k_id,
               k.objective_id            as k_objective_id,
               k.key_result_name         as k_key_result_name,
               k.remark                  as k_remark,
               k.status_info             as k_status_info,
               k.score                   as k_score,
               k.deleted                 as k_deleted,
               k.created_time            as k_created_time,
               k.updated_time            as k_updated_time,
               k.at_users                as k_at_users,
               align.id                  as align_id,
               align.align_type          as align_align_type,
               align.align_id            as align_align_id,
               align.objective_id        as align_objective_id,
               align.owner_username      as align_owner_username,
               align.owner_real_name     as align_owner_real_name,
               align.objective_username  as align_objective_username,
               align.objective_real_name as align_objective_real_name,
               align.created_time        as align_created_time
        from dbo.t_okr_objective_detail o
                 left join t_okr_key_result_detail k on k.objective_id = o.id
                 left join t_okr_align_relation align on align.objective_id = o.id
        where k.id = #{id,jdbcType=BIGINT}
          and o.deleted = 'N'
          and k.deleted = 'N'
        order by o.objective_name
    </select>

    <select id="listAlignedByOId" resultMap="BaseResultMap">
        select o.id                        as o_id,
               o.period_id                 as o_period_id,
               o.objective_name            as o_objective_name,
               o.remark                    as o_remark,
               o.status_info               as o_status_info,
               o.score                     as o_score,
               o.deleted                   as o_deleted,
               o.created_by                as o_created_by,
               o.created_time              as o_created_time,
               o.updated_time              as o_updated_time,
               o.at_users                  as o_at_users,
               aligned.id                  as aligned_id,
               aligned.align_type          as aligned_align_type,
               aligned.align_id            as aligned_align_id,
               aligned.objective_id        as aligned_objective_id,
               aligned.owner_username      as aligned_owner_username,
               aligned.owner_real_name     as aligned_owner_real_name,
               aligned.objective_username  as aligned_objective_username,
               aligned.objective_real_name as aligned_objective_real_name,
               aligned.created_time        as aligned_created_time
        from dbo.t_okr_objective_detail o
                 left join t_okr_align_relation aligned on aligned.align_id = o.id
        where o.id = #{id,jdbcType=BIGINT}
          and o.deleted = 'N'
        order by o.objective_name
    </select>

    <select id="listAlignedByKId" resultMap="BaseResultMap">
        select o.id                        as o_id,
               o.period_id                 as o_period_id,
               o.objective_name            as o_objective_name,
               o.remark                    as o_remark,
               o.status_info               as o_status_info,
               o.score                     as o_score,
               o.deleted                   as o_deleted,
               o.created_by                as o_created_by,
               o.created_time              as o_created_time,
               o.updated_time              as o_updated_time,
               o.at_users                  as o_at_users,
               k.id                        as k_id,
               k.objective_id              as k_objective_id,
               k.key_result_name           as k_key_result_name,
               k.remark                    as k_remark,
               k.status_info               as k_status_info,
               k.score                     as k_score,
               k.deleted                   as k_deleted,
               k.created_time              as k_created_time,
               k.updated_time              as k_updated_time,
               k.at_users                  as k_at_users,
               aligned.id                  as aligned_id,
               aligned.align_type          as aligned_align_type,
               aligned.align_id            as aligned_align_id,
               aligned.objective_id        as aligned_objective_id,
               aligned.owner_username      as aligned_owner_username,
               aligned.owner_real_name     as aligned_owner_real_name,
               aligned.objective_username  as aligned_objective_username,
               aligned.objective_real_name as aligned_objective_real_name,
               aligned.created_time        as aligned_created_time
        from dbo.t_okr_objective_detail o
                 left join t_okr_key_result_detail k on k.objective_id = o.id
                 left join t_okr_align_relation aligned on aligned.align_id = o.id
        where k.id = #{id,jdbcType=BIGINT}
          and o.deleted = 'N'
          and k.deleted = 'N'
        order by o.objective_name
    </select>
</mapper>