<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.dingtalk.notification.mapper.SendSalesDataMapper">


    <select id="getSalesContent" resultType="com.aac.optics.dingtalk.notification.entity.Content">
        SELECT A.ID, A.TAB_DATE, A.TAB_TYPE, A.TITLE, A.CONTENT, A.DINGTALK_USERNO, A.FLAG, A.CREATED_BY, A.CREATE_TIME, A.MODIFY_BY, A.MODIFY_TIME, B.USERID, C.TAB_URL, B.ADACCOUNT, A.DINGTALK_FLAG
            FROM TAB_01_CONTENT A
            LEFT JOIN DD_001_DINGTALK_USER B ON A.DINGTALK_USERNO = B.JOBNUMBER
            LEFT JOIN TAB_02_TABTYPE_URL_MAPPING  C ON A.TAB_TYPE = C.TAB_TYPE
            WHERE (A.FLAG = '0' OR A.DINGTALK_FLAG = '0')
            AND C.TAB_STATUS = '1'
            ORDER BY A.TAB_DATE, A.CREATE_TIME
    </select>

    <select id="getDeleteTodoTask" resultType="com.aac.optics.dingtalk.notification.entity.Content">
        SELECT A.ID, A.TAB_DATE, A.TAB_TYPE, A.TITLE, A.CONTENT, A.DINGTALK_USERNO, A.FLAG, A.CREATED_BY, A.CREATE_TIME, A.MODIFY_BY, A.MODIFY_TIME, B.USERID
            FROM TAB_01_CONTENT A
            LEFT JOIN DD_001_DINGTALK_USER B ON A.DINGTALK_USERNO = B.JOBNUMBER
            WHERE A.DINGTALK_FLAG = '2'
            ORDER BY A.TAB_DATE
    </select>

    <select id="getSendUsersByType" resultType="com.aac.optics.dingtalk.notification.entity.SalesUser">
        SELECT A.USER_NO, C.USERID, B.TAB_URL
            FROM TAB_03_USER_TABTYPE_MAPPING A
                     JOIN TAB_02_TABTYPE_URL_MAPPING  B ON A.TAB_TYPE = B.TAB_TYPE
                     JOIN DD_001_DINGTALK_USER C ON A.USER_NO = C.JOBNUMBER
            WHERE A.TAB_STATUS = '1'
            AND B.TAB_STATUS = '1'
            AND A.TAB_TYPE = #{tabType}
            ORDER BY A.USER_NO
    </select>

    <update id="updateSalesContentSendFlag">
		update TAB_01_CONTENT
		set FLAG = #{flag}, MODIFY_TIME = GETDATE(), MODIFY_BY='IOT'
		where id = #{id}
	</update>

    <update id="updateSalesContentDingtalkFlag">
		update TAB_01_CONTENT
		set DINGTALK_FLAG = #{dingtalkFlag}, MODIFY_TIME = GETDATE(), MODIFY_BY='IOT'
		where id = #{id}
	</update>


    <select id="getSalesDataBatch" resultType="java.util.Map">
        SELECT DISTINCT A.BACH_ID BATCH, A.TITLE TITLE, A.TITLE_TIME TITLE_TIME, A.TAB_TYPE TAB_TYPE
            FROM TAB_01_PRODUCT_CONTENT A
            WHERE A.FLAG = '0'
            ORDER BY A.BACH_ID
    </select>

    <select id="getSalesProductContentByBatch" resultType="com.aac.optics.dingtalk.notification.entity.ProductContent">
        SELECT A.ID, A.BACH_ID, A.TAB_DATE, A.TAB_TYPE, A.TITLE_TIME,
            A.TITLE, A.TAB_PRODUCT_SEQ, A.TAB_PRODUCT_TYPE, A.SHIP_QTY, A.SHIP_AMOUNT, A.FLAG,
            A.SHIP_PLAN_QTY, A.SHIP_PLAN_AMOUNT, A.SHIP_QTY_RATE, A.SHIP_AMOUNT_RATE,
            A.SUB_TAB_PRODUCT_TYPE, A.SUB_SHIP_QTY, A.SUB_SHIP_AMOUNT,
            A.SUB_STANDARD_TAB_PRODUCT_TYPE, A.SUB_STANDARD_SHIP_QTY, A.SUB_STANDARD_SHIP_AMOUNT,
            A.DAY_TAB_PRODUCT_TYPE, A.DAY_SHIP_QTY, A.DAY_SHIP_PLAN_QTY, A.DAY_SHIP_QTY_RATE,
            A.MTD_TAB_PRODUCT_TYPE, A.MTD_SHIP_QTY, A.MTD_SHIP_PLAN_QTY, A.MTD_SHIP_QTY_RATE,
            A.CREATED_BY, A.CREATE_TIME, A.MODIFY_BY, A.MODIFY_TIME
            FROM TAB_01_PRODUCT_CONTENT A
            WHERE A.FLAG = '0'
            AND BACH_ID = #{batchId}
            ORDER BY A.TAB_PRODUCT_SEQ
    </select>

    <update id="updateSalesProductContentSendFlag">
		update TAB_01_PRODUCT_CONTENT
		set FLAG = '1', MODIFY_TIME = GETDATE(), MODIFY_BY='IOT'
		where bach_id = #{batchId}
		AND FLAG = '0'
	</update>


    <select id="getUrlByTabType" resultType="string">
        SELECT TOP 1 A.TAB_URL
            FROM TAB_02_TABTYPE_URL_MAPPING A
            WHERE A.TAB_TYPE = #{tabType}
            AND TAB_STATUS = '1'
    </select>

    <select id="getRobotUrlByTabType" resultType="map">
        SELECT A.ID, A.ROBOT_URL, A.SEND_TIME
            FROM tab_04_robot A
            WHERE A.TAB_TYPE = #{tabType}
            AND TAB_STATUS = '1'
    </select>

    <select id="getSendHistoryByBatchAndRobot" resultType="map">
        SELECT A.ID
            FROM TAB_05_ROBOT_SEND_HISTORY A
            WHERE A.BATCH_ID = #{batchId}
            AND A.ROBOT_ID = #{robotId}
    </select>

    <insert id="saveSendHistory">
        insert into TAB_05_ROBOT_SEND_HISTORY (BATCH_ID,ROBOT_ID, RESULT, MESSAGE, CREATE_TIME,CREATED_BY,MODIFY_TIME,MODIFY_BY)
        VALUES (#{batchId}, #{robotId}, #{result}, #{message}, GETDATE(), 'IOT', GETDATE(), 'IOT')
    </insert>

</mapper>
