<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.organization.mapper.MenuAccessLogMapper">
    <!-- 获取近7天访问记录 -->
    <select id="getLastWeekAccessLog" resultType="com.aacoptics.organization.entity.po.MenuAccessLog">
        SELECT c.title,
               a.username,
               b.name as real_name,
               a.os,
               a.platform,
               a.browser,
               a.version,
               a.access_time
        FROM menu_access_log a
                 join users b
                      on a.username = b.username
                 join menu c
                      on a.name = c.name
        where DateDiff(dd, access_time, getdate()) &lt;= 7
        order by access_time desc
    </select>

    <!-- 获取30天访问趋势 -->
    <select id="getLastMouthTotalCount" resultType="com.aacoptics.organization.entity.po.MenuAccessLog">
        select CONVERT(VARCHAR(10), access_time, 120) as access_date, count(1) AS total_count
        from menu_access_log
        where DateDiff(dd, access_time, getdate()) &lt;= 30
        group by CONVERT(VARCHAR(10), access_time, 120)
    </select>

    <!-- 获取30天访问趋势 -->
    <select id="getLastWeekMenuCount" resultType="com.aacoptics.organization.entity.po.MenuAccessLog">
        SELECT c.title, count(*) as total_count
        FROM menu_access_log a
                 join menu c
                      on a.name = c.name
        where DateDiff(dd, access_time, getdate()) &lt;= 7
        group by c.title
    </select>
</mapper>
