<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.organization.mapper.MenuMapper">
    <!-- 获取登录用户拥有的菜单权限 -->
    <select id="getAllMenu" resultType="com.aacoptics.organization.entity.po.Menu">
        select id,
               parent_id,
               path,
               component,
               icon,
               name,
               title,
               description,
               web_url,
               order_num,
               created_time,
               updated_time,
               created_by,
               updated_by,
               visible,
               menu_type
        from menu a
        group by id, parent_id, path, component, icon, name, title, description, web_url, order_num, created_time,
                 updated_time, created_by, updated_by, visible, menu_type
    </select>


    <select id="getMenuByUsername" resultType="com.aacoptics.organization.entity.po.Menu">
        select id,
               parent_id,
               path,
               component,
               icon,
               name,
               title,
               description,
               web_url,
               order_num,
               created_time,
               updated_time,
               created_by,
               updated_by,
               visible,
               menu_type
        from menu a
        where id in (select t3.menu_id
                     from users t1
                              join user_role_relation t2
                                   on t1.id = t2.user_id
                              join role_menu_relation t3
                                   on t2.role_id = t3.role_id
                     where username = #{username})
        group by id, parent_id, path, component, icon, name, title, description, web_url, order_num, created_time,
                 updated_time, created_by, updated_by, visible, menu_type
        order by order_num
    </select>

    <select id="getMenuByRoleId" resultType="com.aacoptics.organization.entity.po.Menu">
        select id,
               parent_id,
               path,
               component,
               icon,
               name,
               title,
               description,
               web_url,
               order_num,
               created_time,
               updated_time,
               created_by,
               updated_by,
               visible,
               menu_type
        from menu a
        where id in (select menu_id
                     from role_menu_relation
                     where role_id = #{roleId})
        group by id, parent_id, path, component, icon, name, title, description, web_url, order_num, created_time,
                 updated_time, created_by, updated_by, visible, menu_type
        order by order_num
    </select>
</mapper>
