<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.wlg.report.mapper.EstimateFpyMapper">

    <select id="queryEstimateFpyByCondition" resultType="map">
        select project_name projectName, mold, cycle, fpy_date fpyDate,
            CONVERT(varchar(20),CONVERT(decimal(18,2), fpy * 100)) + '%' fpy,
            estimate_balance estimateBalance
        from estimate_fpy
        where 1=1
        <if test="projectName != '' and projectName != null">
            AND project_name = #{projectName}
        </if>
        <if test="mold != '' and mold != null">
            AND mold = #{mold}
        </if>
        <if test="cycle != '' and cycle != null">
            AND cycle = #{cycle}
        </if>
        <if test="fpyDateStart != null">
            AND fpy_date >= #{fpyDateStart}
        </if>
        <if test="fpyDateEnd != null">
            AND fpy_date &lt;= #{fpyDateEnd}
        </if>
    </select>

</mapper>
