<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.wlg.dashboard.mapper.InputReportMapper">


    <select id="getByDateAndMachineName" resultType="com.aacoptics.wlg.dashboard.entity.InputReport">
        SELECT *
        FROM t_wlg_molding_machine_input_per_six_hour
        where start_time &gt;= #{startTime} and start_time &lt; #{endTime}
        and end_wafer_id is not null
        and machine_name in
        <foreach item='machineName' index='index' collection='machineNames' open='(' separator=',' close=')'>
            #{machineName}
        </foreach>
        order by start_time, machine_name
    </select>

    <select id="getTwoHourSum" resultType="com.aacoptics.wlg.dashboard.entity.InputReport">
        SELECT isnull(sum(input_qty),0) as input_qty, isnull(sum(output_qty),0) as output_qty
        FROM t_wlg_molding_machine_input_per_six_hour
        where end_time &gt; Dateadd(Hour, -2, getdate())
        and end_wafer_id is not null
    </select>

</mapper>
