<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.wlg.dashboard.mapper.InputReportMapper">


    <select id="getByDateAndMachineName" resultType="com.aacoptics.wlg.dashboard.entity.po.InputReport">
        SELECT a.[id]
        ,a.[machine_name]
        ,a.[material_name]
        ,a.[project_name]
        ,a.[model_name]
        ,a.[cycle_name]
        ,a.[period_name]
        ,a.[start_time]
        ,a.[end_time]
        ,b.standard_ct
        ,a.[avg_cycle]
        ,a.[input_qty]
        ,a.[start_wafer_id]
        ,a.[end_wafer_id]
        ,a.[start_cycle_no]
        ,a.[end_cycle_no]
        ,a.[broken_ok]
        ,a.[broken_ng]
        ,a.[output_qty]
        ,a.[create_time]
        ,a.[update_user]
        ,a.[update_time]
        ,a.[abnormal_reason]
        FROM t_wlg_molding_machine_input_per_six_hour a
        join t_opc_ua_connections b
        on a.machine_name = b.machine_name
        where a.start_time &gt;= #{startTime} and a.start_time &lt; #{endTime}
        and a.end_wafer_id is not null
        and a.machine_name in
        <foreach item='machineName' index='index' collection='machineNames' open='(' separator=',' close=')'>
            #{machineName}
        </foreach>
        order by a.project_name,a.start_time, a.model_name, a.machine_name
    </select>

    <select id="getTwoHourSum" resultType="com.aacoptics.wlg.dashboard.entity.po.InputReport">
        SELECT isnull(sum(input_qty),0) as input_qty, isnull(sum(output_qty),0) as output_qty
        FROM t_wlg_molding_machine_input_per_six_hour
        where end_time &gt; Dateadd(Hour, -2, getdate())
        and end_wafer_id is not null
    </select>

    <select id="getMachineOutputSummary" resultType="map">
        select CONVERT(varchar(100), start_time, 20) time, sum(cast(SUBSTRING(end_wafer_id, 2, LEN(end_wafer_id)) as int)) output
        from t_wlg_molding_machine_input_per_six_hour
        where start_time >= #{startTime}
        and end_wafer_id is not null
        group by start_time
        order by start_time;
    </select>

    <select id="getMoldingMachineTotalQty" resultType="map">
        select sum(output_qty) total_output_qty,  sum(input_qty) total_input_qty
        from t_wlg_molding_machine_input_per_six_hour
        where start_time >= #{startTime}
        and end_wafer_id is not null
    </select>


</mapper>
