<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.wlg.dashboard.mapper.MoldingParamAnalysisDataMapper">


    <select id="getAnalysisData" resultType="com.aacoptics.wlg.dashboard.entity.MoldingParamAnalysisData">
        SELECT a.id,machine_name, wafer_id, recipe_phase, recipe_name,
               param_name + '_' + convert(varchar, array_id) as param_name,
               avg_value, std_value, a.create_time
        FROM [t_wlg_molding_machine_param_analysis_data] a
        join [t_wlg_molding_machine_param_data_base] b
        on a.serial_id = b.serial_id
        join t_molding_machine_opc_ua_node c
        on a.param_id = c.id
        where machine_name = #{machineName}
        and param_name + '_' + convert(varchar, array_id) = #{paramName}
        and a.create_time &gt;= #{startTime} and a.create_time &lt; #{endTime}
        order by a.id
    </select>

</mapper>
