<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.wlg.dashboard.mapper.MoldingEventDataMapper">

    <select id="getMachineEvents" resultType="com.aacoptics.wlg.dashboard.entity.MoldingEventData">
        select [id]
             ,[site]
             ,[machine_name]
             ,[event_info]
             ,[alarm_info]
             ,[start_time]
             ,[end_time]
             ,[create_time]
        from t_wlg_molding_machine_event_data
        where machine_name = #{machineName}
          and start_time between #{startTime} and #{endTime}
        order by start_time
    </select>

</mapper>
