<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.budget.report.mapper.BusinessDivisionProductLineMapper">

    <select id="getAllBusinessDivision" resultType="string">
        select
        distinct business_division
        from fb_business_division_product_line
        order by business_division
    </select>

    <select id="getProductLineByBusinessDivision" resultType="string">
        select
        product_line
        from fb_business_division_product_line
        where 1=1
        and business_division = #{businessDivision}
        order by product_line
    </select>

</mapper>
