<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aacoptics.budget.report.mapper.ProductLineBudgetMapper">

    <select id="findProductLineBudgetAllYearByUploadLogId" resultType="integer">
        select distinct year
        from fb_product_line_budget
        where 1=1
        AND upload_log_id = #{uploadLogId}
        order by year
    </select>

    <select id="findProductLineBudgetAllYearByCondition" resultType="integer">
        select distinct year
        from fb_product_line_budget
        where 1=1
        <if test="businessDivision != '' and businessDivision != null">
            AND business_division = #{businessDivision}
        </if>
        <if test="productLineList != null and productLineList.size() > 0">
            AND product_line in
            <foreach collection="productLineList" separator="," open="(" close=")" item="productLine">
                #{productLine}
            </foreach>
        </if>
        order by year
    </select>

    <select id="findByBusinessDivisionAndProductLine" resultType="com.aacoptics.budget.report.entity.po.ProductLineBudget">
        select top 1 *
        from fb_product_line_budget
        where 1=1
        AND business_division = #{businessDivision}
        AND product_line = #{productLine}
        order by item_seq
    </select>


    <select id="findProductLineBudgetByUploadLogId" resultType="map">
    with temp_year_1 as (
        select *
        from fb_product_line_budget
        where year = #{firstYear}
          and upload_log_id = #{uploadLogId}),
        temp_year_2 as (
             select *
             from fb_product_line_budget
             where year = #{secondYear}
               and upload_log_id = #{uploadLogId})
        select
            temp_year_1.business_division businessDivision,
            temp_year_1.product_line productLine,
            temp_year_1.data_version dataVersion,
            temp_year_1.item_seq itemSeq,
            temp_year_1.cost_item costItem,
            temp_year_1.unit unit
            ${selectColumn}
        from temp_year_1
            left join temp_year_2 on temp_year_1.business_division = temp_year_2.business_division
            and temp_year_1.product_line = temp_year_2.product_line
            and temp_year_1.data_version = temp_year_2.data_version
            and temp_year_1.item_seq = temp_year_2.item_seq
        order by temp_year_1.item_seq
    </select>


    <select id="findProductLineBudgetByCondition" resultType="map">
    with temp_year_1 as (
        select *
        from fb_product_line_budget
        where year = #{firstYear}
            and unit != '%'
            <if test="verificationPermission == true">
                AND exists (
                select 1 from fb_product_line_permission
                where user_code= #{userCode}
                and fb_product_line_permission.business_division=fb_product_line_budget.business_division
                and fb_product_line_permission.product_line=fb_product_line_budget.product_line )
            </if>
            <if test="businessDivision != '' and businessDivision != null">
                AND business_division = #{businessDivision}
            </if>
            <if test="productLineList != null and productLineList.size() > 0">
                AND product_line in
                <foreach collection="productLineList" separator="," open="(" close=")" item="productLine">
                    #{productLine}
                </foreach>
            </if>),
        temp_year_2 as (
             select *
             from fb_product_line_budget
             where year = #{secondYear}
                and unit != '%'
                <if test="verificationPermission == true">
                    AND exists (
                    select 1 from fb_product_line_permission
                    where user_code= #{userCode}
                    and fb_product_line_permission.business_division=fb_product_line_budget.business_division
                    and fb_product_line_permission.product_line=fb_product_line_budget.product_line )
                </if>
                <if test="businessDivision != '' and businessDivision != null">
                    AND business_division = #{businessDivision}
                </if>
                <if test="productLineList != null and productLineList.size() > 0">
                    AND product_line in
                    <foreach collection="productLineList" separator="," open="(" close=")" item="productLine">
                        #{productLine}
                    </foreach>
                </if>),
        temp_sum as (
        select
            temp_year_1.item_seq itemSeq,
            temp_year_1.cost_item costItem,
            temp_year_1.unit unit
            ${selectColumn}
        from temp_year_1
            left join temp_year_2 on temp_year_1.business_division = temp_year_2.business_division
            and temp_year_1.product_line = temp_year_2.product_line
            and temp_year_1.data_version = temp_year_2.data_version
            and temp_year_1.item_seq = temp_year_2.item_seq
        group by temp_year_1.item_seq,
                temp_year_1.cost_item,
                temp_year_1.unit)
        select *
        from temp_sum
        union all
            select 8 itemSeq, '毛利率%' costItem, '%' unit
            ${grossProfitRateSelectColumn}
            from (
            select *
            from temp_sum
            where itemSeq = 2) a
            join
            (
            select *
            from temp_sum
            where itemSeq = 3) b on 1 = 1
        union all
            select 10                                                 itemSeq,
            '研发费用占销售额比重%'                                      costItem,
            '%'                                                unit
            ${selectPercentColumn}
            from (
            select *
            from temp_sum
            where itemSeq = 2) a
            join
            (
            select *
            from temp_sum
            where itemSeq = 9) b on 1 = 1
        union all
            select 12                                                 itemSeq,
            '营销费用占销售额比重%'                                      costItem,
            '%'                                                unit
            ${selectPercentColumn}
            from (
            select *
            from temp_sum
            where itemSeq = 2) a
            join
            (
            select *
            from temp_sum
            where itemSeq = 11) b on 1 = 1
        union all
            select 14                                                 itemSeq,
            '管理费用占销售额比重%'                                      costItem,
            '%'                                                unit
            ${selectPercentColumn}
            from (
            select *
            from temp_sum
            where itemSeq = 2) a
            join
            (
            select *
            from temp_sum
            where itemSeq = 13) b on 1 = 1
        union all
            select 17 itemSeq, '利润率' costItem, '%' unit
            ${selectPercentColumn}
            from (
            select *
            from temp_sum
            where itemSeq = 2) a
            join
            (
            select *
            from temp_sum
            where itemSeq = 16) b on 1 = 1
            order by itemSeq
    </select>

</mapper>
